body{
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #f8f8f8;
    text-shadow: 1px 4px 7px black;
    text-align: center;
    background-image:   linear-gradient(to right, rgb(172, 110, 230), rgba(0, 0, 255, 0.418), skyblue, pink);        

}

.thankyou-page{
        justify-content: center;
        /* align-items: center; */
        justify-items: center;
        margin-top: 210px;
        font-size: 25px;
}
a{
    padding: 7px;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    text-shadow: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid blue;
}

a:hover{
    background-color: rgb(214, 211, 211);
}