{% extends "base.html" %}
{% load static %}
{% block titlepage %}All Post{% endblock %}
{% block css %}<link rel="stylesheet" href='{% static "blog/allpost.css" %}'/>{% endblock  %}
{% block content %}
<h1>🎮 Latest Game Blog Posts</h1>
<center>
  <button class='more-post'><a href="{% url 'usercart' %}">🛒 View My Cart</a></button>
</center>

  <div class="blog-container">
    {% for card in cards %}
    {% include "blog/includes/card.html" %}
    {% endfor %}
  </div>
  <footer class="footer">
    <a href={% url 'contact' %} class='contact'>Get in Touch</a>
    <p><b>Contact:</b> 8788994706</p>
    <p><b>Email:</b> <a class="footer-content" href="mailto:suhanishinde2509@gmail.com">suhanishinde2509@gmail.com</a></p>
    <p><b>LinkedIn:</b> <a class="footer-content" href="https://www.linkedin.com/in/suhani-shinde">linkedin.com/in/suhani-shinde</a></p>
    <p>© 2025 Gaming Blog. All rights reserved.</p>
</footer>
{% endblock  %}

